@use '@/styles/_mixins' as *;
@use '@/styles/vars' as *;

.about {
  &__text-container {
    position: absolute;
    bottom: 20%;
    padding: 0 20px;

    @include onLaptop {
      padding: 0 $header-title-container-padding;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;

    @include onLaptop {
      font-size: 66px;
      line-height: 80px;
    }

    &--secondary {
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;

      @include onLaptop {
        font-size: 40px;
      }
    }
  }

  &__content {
    // margin: 34px 20px 0px 20px;

    @include onLaptop {
      // margin: 34px 60px 0px 60px;
      padding: 0 $header-title-container-padding
    }

    // @include onLaptopL {
    //   max-width: 1440px;
    //   margin: 102px auto 0 auto;
    // }

    &-title {
      font-size: 14px;
      font-weight: 600;
      line-height: 26px;
      text-align: center;
      font-style: italic;

      margin-top: 34px;
      margin-bottom: 34px;

      @include onLaptop {
        font-size: 36px;
        line-height: 68px;
        padding: 0 200px;
        // margin-bottom: 136px;
      }
    }
  }

  &__article {
    padding: 0 40px;
    margin-bottom: 24px;
  }

  &__subheading {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;

    @include onLaptop {
      font-size: 24px;
      line-height: 60px;
    }
  }

  &__paragraph {
    font-size: 14px;
    font-weight: 100;
    line-height: 28px;

    @include onLaptop {
      font-size: 24px;
      line-height: 48px;
    }
  }

  &__slider {
    &-title {
      font-size: 24px;
      line-height: 80px;
      font-weight: 400;
      color: #848586;
      text-transform: uppercase;
      text-align: center;

      @include onMobile {
        font-size: 14px;
      }
    }
  }
}