@use '@/styles/_mixins' as *;
@use '@/styles/vars' as *;

.about {
  &__text-container {
    position: absolute;
    bottom: 15%;
    padding: 0 20px;

    @include onLaptop {
      padding: 0 $header-title-container-padding;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;

    @include onLaptop {
      font-size: $hero-title-font-size;
      line-height: $hero-title-line-height;
    }

    &--secondary {
      font-size: 20px;
      line-height: 24px;

      font-style: italic;
      font-weight: 200;

      @include onLaptop {
        font-size: $hero-subtitle-font-size;
      }
    }
  }

  &__content {
    position: relative;
    overflow: hidden;
    margin-top: 68px;
    margin-bottom: 68px;

    @include onMobile {
      margin-top: 36px;
      margin-bottom: 36px;
    }

    @include onLaptop {
      padding: 0 $header-title-container-padding
    }

    &-title {
      font-weight: 400;
      line-height: 26px;
      text-align: center;
      z-index: 10;

      padding: 0 20px;

      @include onMobile {
        font-size: 14px;
      }

      @include onLaptop {
        font-size: 28px;
        line-height: 48px;
        padding: 0 15%;
      }
    }
  }

  &__article {
    padding: 0 40px;

    @include onLaptop {
      display: flex;
      justify-content: space-between;

      max-width: 700px;
      padding: 0;
      margin: 0 auto 42px auto;
    }

    &-logo {
      @include onMobile {
        width: 200px;
        margin: 36px auto 0;
      }

      @include onTablet {
        width: 200px;
        margin: 36px auto 0;
      }

      @include onLaptop {
        // display: block;
        // width: 200px;
        // height: auto;
        // margin-left: 40px;
        // flex-shrink: 0;
      }
    }
  }

  &__subheading {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 12px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 12px;
    z-index: 10;

    @include onLaptop {
      font-size: 28px;
      line-height: 60px;
      margin-bottom: 12px;
    }
  }

  &__paragraph {
    font-size: 14px;
    font-weight: 100;
    line-height: 28px;
    text-align: center;

    @include onLaptop {
      text-align: left;
      font-size: 24px;
      line-height: 48px;
      padding-right: 2rem;
    }
  }

  &__slider {
    &-title {
      font-size: 18px;
      line-height: 36px;
      font-weight: 400;
      color: #848586;
      text-transform: uppercase;
      text-align: center;

      @include onMobile {
        font-size: 10px;
      }
    }

    &-divider-bottom {
      @include onMobile {
        margin-bottom: 24px !important;
      }
    }
  }
}