@use '@/styles/_mixins' as *;
@use '@/styles/vars' as *;

.about {
  &__text-container {
    position: absolute;
    bottom: 15%;
    padding: 0 20px;

    @include onLaptop {
      padding: 0 $header-title-container-padding;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;

    @include onLaptop {
      font-size: $hero-title-font-size;
      line-height: $hero-title-line-height;
    }

    &--secondary {
      font-size: 20px;
      line-height: 24px;

      font-style: italic;
      font-weight: 200;

      @include onLaptop {
        font-size: $hero-subtitle-font-size;
      }
    }
  }

  &__content {
    margin-top: 68px;
    margin-bottom: 68px;

    @include onMobile {
      margin-top: 36px;
      margin-bottom: 36px;
    }

    @include onLaptop {
      padding: 0 $header-title-container-padding
    }

    &-title {
      font-weight: 400;
      line-height: 26px;
      text-align: center;

      padding: 0 20px;

      @include onMobile {
        font-size: 14px;
      }

      @include onLaptop {
        font-size: 28px;
        line-height: 48px;
        padding: 0 15%;
      }
    }
  }

  &__article {
    display: flex;
    flex-flow: column wrap;
    align-items: center;


    padding: 0 40px;
    margin-bottom: 24px;

    @include onLaptop {
      max-width: 700px;
      margin-bottom: 42px;
      margin: 0 auto 42px auto;
    }
  }

  &__subheading {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 12px;

    @include onLaptop {
      font-size: 28px;
      line-height: 60px;
      margin-bottom: 12px;
    }
  }

  &__paragraph {
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    line-height: 28px;

    @include onLaptop {
      font-size: 24px;
      line-height: 48px;
    }
  }

  &__slider {
    &-title {
      font-size: 18px;
      line-height: 80px;
      font-weight: 400;
      color: #848586;
      text-transform: uppercase;
      text-align: center;

      @include onMobile {
        font-size: 14px;
      }
    }

    &-divider-bottom {
      @include onMobile {
        margin-bottom: 24px !important;
      }
    }
  }
}