@use '@/styles/_mixins' as *;
@use '@/styles/vars' as *;

.contact {
  &__hero {
    &-text-container {
      position: absolute;
      bottom: 15%;
      padding: 0 20px;

      @include onLaptop {
        padding: 0 $header-title-container-padding;
      }
    }

    &-text {
      font-size: 24px;
      line-height: 36px;
      font-weight: 600;

      @include onLaptop {
        font-size: $hero-title-font-size;
        line-height: $hero-title-line-height;
      }

      &--secondary {
        font-size: 20px;
        line-height: 24px;

        font-style: italic;
        font-weight: 200;

        @include onLaptop {
          font-size: $hero-subtitle-font-size;
        }
      }
    }
  }

  &__section {
    padding: 20px;

    @include onLaptop {
      margin: 24px auto 72px auto;
    }
  }
}