@use '@/styles/_mixins' as *;
@use '@/styles/vars' as *;

.header {
  transition: all 0.3s ease;
  height: 64px;

  @include onLaptop {
    padding: 16px 50px;
    height: 80px;
  }

  nav.desktop-nav a {
    position: relative;
    transition: color 0.2s ease;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0%;
      height: 1px;
      background-color: $color-secondary;
      transition: width 0.3s ease;
    }

    &:hover::after,
    &.active::after {
      width: 100%;
    }

    &:hover,
    &.active {
      color: $color-secondary;
    }
  }

  &__burger {
    background-color: $color-secondary;
    opacity: 0;
    transform: translateX(100%);

    transition:
      transform 0.5s ease-in,
      opacity 0.1s ease-in;

    pointer-events: none;

    &--active {
      opacity: 1;
      transform: translateX(0);
      pointer-events: auto;
    }

    &--closing {
      opacity: 0;
      transform: translateX(100%);
      pointer-events: none;
    }

    &-header {
      height: 64px;
    }

    background-color: $color-secondary;

    &-close {
      margin-right: 5px;
    }

    &-navitem {
      position: relative;
      display: flex;
      align-self: flex-start;
      font-size: 48px;
      line-height: 36px;
      text-transform: uppercase;
      margin: 0 20px;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0%;
        height: 1px;
        background-color: #000;
        transition: width 0.3s ease;
      }

      &:hover::after,
      &.active::after {
        width: 100%;
      }

      &:hover,
      &.active {
        color: #000;
      }
    }
  }
}