@use '@/styles/_mixins' as *;

.home {
  &__carousel {
    @include onMobile {
      height: 284px;
    }

    height: 772px;
  }

  &__text-container {
    bottom: 20%;
    right: 40px;
  }

  &__text {
    position: absolute;
    top: 50%;
    line-height: 36px;

    @include onLaptop {
      font-size: 65px;
      line-height: 79px;
    }
  }
}