@use '@/styles/_mixins' as *;
@use '@/styles/vars' as *;
@use '@/styles/components/blocks-shared' as blocks;

.home {
  &__carousel {
    height: 284px;

    @include onLaptop {
      height: 772px;
    }
  }

  &__text-container {
    bottom: 20%;
    right: 40px;
    padding: 0 20px;

    @include onLaptop {
      padding: 0 $header-title-container-padding;
    }
  }

  &__text {
    position: absolute;
    // top: 50%;
    line-height: 24px;

    top: 68%;
    left: 3%;

    @include onLaptop {
      font-size: 65px;
      line-height: 80px;
    }
  }

  &__featured {
    max-width: 1440px;
    padding: 0 20px;
    // margin: 0 auto;

    &-title-container {
      margin-top: 24px;
      margin-bottom: 24px;

      @include onLaptop {
        // margin-bottom: 36px;
        margin-top: 36px;
        margin-bottom: 36px;
      }
    }

    &-title {
      font-size: 16px;
      line-height: 48px;

      @include onLaptop {
        font-size: 24px;
      }
    }

    &-row {
      position: relative;
    }

    @include blocks.blocks-row-hover-state('home__featured-row',
      'home__featured-block',
      'home__featured-image'
    );

    &-blocks {
      padding: 0 20px;
    }

    &-block {
      @include blocks.blocks-card-base(14px);

      &-image {
        height: 230px;

        @include onLaptop {
          height: 400px;
        }

        @include onLaptopL {
          height: 500px;
        }

        @include blocks.blocks-image-base();
      }
    }

    &-all {
      @include onLaptop {
        margin-top: 36px;
        margin-bottom: 36px;
      }

      &-link {
        font-size: 24px;
        line-height: 48px;
        display: inline-flex;
        align-items: center;
        transition: color 0.3s ease;

        @include onMobile {
          margin: 18px 0;
        }

        &:hover {
          color: $color-secondary;

          img {
            filter: brightness(0) saturate(100%) invert(34%) sepia(97%) saturate(636%) hue-rotate(142deg) brightness(88%) contrast(92%);
            transition: filter 0.3s ease;
          }
        }
      }
    }
  }
}