@use '@/styles/_mixins' as *;
@use '@/styles/vars' as *;

@keyframes slides {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  z-index: 10;
  padding: 10px 0;
  white-space: nowrap;
  position: relative;

  @include onLaptop {
    padding: 18px 0;
  }

  .logo {
    &__items {
      display: inline-block;
      animation: 25s slides infinite linear;

      img {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        height: 80px;
        max-width: 180px;
        margin-right: 140px;

        @include onMobile {
          height: 60px;
          max-width: 60px;
          margin-right: 40px;
        }
      }
    }
  }
}