@use '@/styles/_mixins' as *;
@use '@/styles/vars' as *;
@use '@/styles/components/blocks-shared' as blocks;

.projects {
  &__text-container {
    position: absolute;
    bottom: 20%;
    padding: 0 20px;

    @include onLaptop {
      padding: 0 $header-title-container-padding;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;

    @include onLaptop {
      font-size: $hero-title-font-size;
      line-height: $hero-title-line-height;
    }

    &--year {
      font-size: 20px;
      line-height: 24px;

      font-style: italic;
      font-weight: 200;

      @include onLaptop {
        font-size: $hero-subtitle-font-size;
      }
    }
  }

  &__featured {
    @include onLaptop {
      padding: 0 $header-title-container-padding;
    }

    &-row {
      position: relative;

      &:not(:first-child) {
        margin-top: 32px;
      }

      @include onMobile {
        margin-top: 32px;
      }
    }

    @include blocks.blocks-row-hover-state('projects__featured-row',
      'projects__featured-block',
      'projects__featured-image'
    );

    &-block {
      @include blocks.blocks-card-base(14px);

      &-image {
        width: 100%;
        object-fit: cover;
        height: 350px;

        @include onLaptop {
          height: 550px;
        }

        @include blocks.blocks-image-base();
      }
    }
  }
}