@use '@/styles/_mixins' as *;
@use '@/styles/vars' as *;
@use '@/styles/components/blocks-shared' as blocks;

.projects {
  &__text-container {
    position: absolute;
    bottom: 20%;
    padding: 0 20px;

    @include onLaptop {
      padding: 0 60px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;

    &--year {
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;

      @include onLaptop {
        // font-size: 30px;
      }
    }

    @include onLaptop {
      font-size: 66px;
      line-height: 80px;
    }
  }

  &__featured {
    &-row {
      position: relative;

      &:not(:first-child) {
        margin-top: 32px;
      }

      @include onMobile {
        margin-top: 32px;
      }
    }

    @include blocks.blocks-row-hover-state('projects__featured-row',
      'projects__featured-block',
      'projects__featured-image'
    );

    &-block {
      @include blocks.blocks-card-base(14px);
      // border-radius: 14px;
      // transition: transform 0.3s ease, box-shadow 0.3s ease;

      // &:hover {
      //   box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.15);
      // }

      &-image {
        width: 100%;
        object-fit: cover;
        height: 350px;

        @include onLaptop {
          height: 550px;
        }

        @include blocks.blocks-image-base();
      }
    }
  }

}