$color-secondary: #009191;


$container-width: 1440px;
$header-title-container-padding: 180px;


$hero-title-font-size: 50px;
$hero-title-line-height: 80px;

$hero-subtitle-font-size: 30px;
$hero-subtitle-line-height: 24px;