@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff;
  }
}

body {
  height: 100vh;
  color: var(--foreground);
  background: var(--background);
}

img, picture, figure img {
  -webkit-user-drag: none; /* Chrome / Safari / Edge */
  user-select: none;       /* avoid ghost highlight */
  -webkit-user-select: none;
}

a img {
  -webkit-user-drag: none;
}