@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fff;
  }
}

body {
  height: 100vh;
  color: var(--foreground);
  background: var(--background);
}

img {
  -webkit-user-drag: none; /* Safari, Chrome */
  -khtml-user-drag: none;  /* Old Konqueror */
  -moz-user-drag: none;    /* Firefox (behind a pref, not always working) */
  -o-user-drag: none;      /* Old Opera */
  user-drag: none;         /* Standard (not widely supported yet) */
  user-select: none;       /* Prevent text selection ghost image */
  pointer-events: none;    /* optional: if you also want clicks disabled */
}
